body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}
header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}
nav {
    background-color: #4caf50;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}
section {
    padding: 20px;
    margin: 20px 0;
}
h2 {
    color: #333;
    font-size: 2rem;
    margin-left: 35px
}
p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.team-member img {
    border-radius: 50%;
    margin-right: 15px;
}