.body{
    margin: 0;
    padding: 0;
}

.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
}
.heading{
    color:rgb(190, 124, 252);
    margin-left: 18px;
    font-size: 2.45rem;
    font-weight: 600;
    padding: 30px auto;
}

.left a{
    color: white;
}


#element{
    margin-left: 18px;
    font-size: 2rem;
    font-weight: 600;
    color:rgb(190, 124, 252) ;
}

.inner-left{
    background-color: #0f022f;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inner-right{
    height: 100vh;
    background-color: black; 
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-right: 10px;
    width: 80%;
    
}
.left{
    width: 45%;
}
.right{
    width: 45%;
}
.left button{
    
    margin-right: 18px;
    background-color: #4b12dc;
    color: #fff;
    padding: 12px;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    /* padding: 12px */
}
.right button{
    margin-left: 12px;
    background-color: #4b12dc;
    color: #fff;
    padding: 12px;
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}